# display of data of the same value in columns

In [9]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [10]:
df = pd.DataFrame({
    'name': ['name1', 'name1', 'name1','name2','name2','name2','name3','name3','name3'],
    'exam': ['match', 'chemical', 'history','match', 'chemical', 'history','match', 'chemical', 'history'],
    'note':['AA','BB','AB','BB','CC','FF','DZ','BC','CC']
})

In [11]:
#Answer 1:
found_question = df.loc[(df["name"] == "name1")]
found_question.head()

    name      exam note
0  name1     match   AA
1  name1  chemical   BB
2  name1   history   AB

In [12]:
#Answer 2:
piece=dict(list(df.groupby ("name")))
piece["name1"]

    name      exam note
0  name1     match   AA
1  name1  chemical   BB
2  name1   history   AB

In [13]:
#This dataset is not in a correct order. normalization should be done.